<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/05-form/" method="post">
        {% csrf_token %}

        {% comment '手动' %}
        {% for fir in form %}
            <p>
                {{ fir.label }}:{{ fir }}
            </p>
        {% endfor %}
        {% endcomment %}
        <ul>
            {{ form.as_ul }}
        </ul>

        <p>
            <input type="submit" value="提交">
        </p>
    </form>

</body>
</html>