<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>？？？？</title>
</head>
<body>
    <p>姓名：{{uname}}</p>
    <p>年龄：{{ age }}</p>
    <p>工资：{{ salary }}</p>
    <p>食物：{{ foods }}</p>
    <p>食物[0]：{{ foods.0 }}</p>
    <p>食物[1]：{{ foods.1 }}</p>
    <p>食物[2]：{{ foods.2 }}</p>
    <p>爱好：{{ hobby }}</p>
    <p>爱好[0]：{{ hobby.0 }}</p>
    <p>爱好[1]：{{ hobby.1 }}</p>
    <p>爱好[2]：{{ hobby.2 }}</p>
    <p>电影：{{ films }}</p>
    <p>电影msn：{{ films.msn }}</p>
    <p>电影xmx：{{ films.xmx }}</p>
    <p>对象：{{ animal }}</p>
    <p>对象name：{{ animal.name }}</p>
    <p>对象eat：{{ animal.eat }}</p>
</body>
</html>